html {
  width: 100%;
  height: auto;
}

body {
  width: 100%;
  height: auto;
}

#contentWrapper {
  padding: 1%;
  margin: auto;
}

header, section {
  display: block;
}

a, li {
  text-decoration: none;
  list-style: none;
}

.mwd-icon-bars {
  background-image: url('./images/icons8-menu-24.png');
  background-repeat: no-repeat;
  display: list-item;
  height: auto;
  width: auto;
}

.side-nav {
  background-image: linear-gradient(to right, #666699, #fff);
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 1%;
  height: 100px;
  width: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: .7s;
}

.mwd-li-nav a {
  color: #fff;
  text-decoration: underline;
  margin: 2%;
  padding: 5px;
  display: block;
}

.mwd-li-nav a:hover {
  color: aqua;
}

.mwd-nav-btn {
  right: 25px;
  position: absolute;
  height: auto;
  width: auto;
  background-image: linear-gradient(to left, #666699, #111);
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 5px;
  padding: 5px;
  margin: 2%;
  color: azure;
}

#contentBody {
  transition: 1s;
}

@media (min-width: 599px){
  #logo{
    display: contents;
    align-content: center;
  }
}