/* $ ===== Start Globals =====  */
body {
  background-color: #111;
  padding: 0px;
  min-height: 100vh;
  margin: auto;
}

#contentBody {
  padding: 0;
  margin: auto;
  transition: 1s;
}

#contactLine {
  color: #fff;
}

.dynamic-body {
  width: 90vw;
  padding: 0;
  margin: auto;
}

a, li {
  text-decoration: none;
  list-style: none; 
}

/* * ===== Start Logo ===== */
.logo, a {
  padding: 5px;
  width: 300px;
  color: #fff;
  margin: auto;
  text-decoration: underline;
}
/* * ===== End Logo ===== */

/* $ ===== Start Footer/Nav ===== */
.mwd-footer {
  padding: 15px;
  width: 350px;
  margin: auto;
}

.mwd-footer-icon h1 {
  font-size: 18px;
  width: 275px;
  text-align: center;
}

.mwd-footer-icon {
  padding: 1%;
  width: 300px;
  margin: auto;
}

.footer-nav {
  display: flex;
  padding: 1%;
  margin: auto;
  text-align: center;
}

.mwd-li-footer-nav {
  width: 300px;
  padding: 5px;
  margin: auto;
}

.mwd-li-footer-nav  a{
  color: #fff;
  text-decoration: underline;
}
/* $ ===== End Footer/Nav ===== */

/* @ ===== Start Nav ===== */
.mwd-li-nav > a:hover {
  color: aqua;
}

.mwd-icon-bars {
  background-image: url('../images/circled.png');
  background-repeat: no-repeat;
  display: list-item;
  list-style: none;
  height: 36px;
  width: 36px;
  transition: .9s;
  margin: 2%;
  color: #fff;
}

.side-nav {
  background-image: linear-gradient(to right, #111, rgb(89, 185, 230));
  opacity: .5;
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  margin: 1%;
  height: 14.2em;
  z-index: 1;
  overflow: hidden;
  transition: .7s;
}

.mwd-li-nav {
  color: #fff;
  text-decoration: underline;
  margin: 2%;
  padding: 5px;
  display: block;
}


.mwd-nav-btn {
  right: 25px;
  position: absolute;
  height: auto;
  width: auto;
  background-image: linear-gradient(to left, #666699, #111);
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 5px;
  padding: 5px;
  margin: 2%;
  color: azure;
}
/* @ ===== End Nav ===== */

/*& ===== Start Parallax ===== */
#parallax0 {
  background-image: url('../images/brandon-morgan-3qucB7U2l7I-unsplash.jpg');
}

#parallax1 {
  background-image: url('../images/alex-perez-pEgsWN0kwbQ-unsplash.jpg')
}

#parallax0, #parallax1 {
  height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*& ===== End Parallax ===== */

/* % ===== Start Cards ===== */
.third {
  padding: 5px;
}

.card {
  background-color: #fff;
  max-width: 300px;
  height: 350px;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 5px;
  margin: auto;
}

.mwd-h3 {
  border-radius: 5px 5px 0px 0px;
  background-color: black;
  width: auto;
  height: 25px;
  margin: auto;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.mwd-icon {
  padding: 5px;
  margin: auto;
  width: 200px;
  height: 200px;;
}

.mwd-html-icon, .mwd-css-icon, .mwd-dynamic-icon {
  width: 100%;
  height: 100%;
}
.mwd-card-p {
  padding: 5px;
  margin: auto;
}

.mwd-card-caption {
  padding: 5px;
  text-align: justify;
  font-size: 12px;
}

.mwd-card-link {
  color: #111;
}
/* % ===== End Cards ===== */
/* $ ===== End Globals =====  */

/* # ===== Start Media Breaks ===== */
@media only screen and (min-width: 900px){
  .logo {
    width: 90%;
    align-content: justify;
  }

  .card {
    width: 900px;
  }
}

@media only screen and  (min-width: 1400px){
  .row {
    width: 98%;
    display: flex !important;
  }

  .third {
    width: 98%;
    margin: auto !important;
  }

  #contentBody {
    width: 100%;
    margin-top: -35px;
  }
}
/* # ===== End Media Breaks ===== */